.button-primary {
    background-color: #F39910;
    color: white;
    font-weight: bold;
}

.button-primary:hover {
    background-color: #D3870A;
}

.button-secondary {
    background-color: #F39910;
    color: white;
    font-weight: bold;
}

.button-secondary:hover, #button-movil {
    background-color: #D3870A;
}

.header{
    display: block; 
    margin: 6rem;
}

#right-content-header{
    width: -webkit-fill-available;
}

.linksBtn, .linksBtn:hover {
  text-decoration: none;
}

@media (max-width: 767.98px) {
    .navbar-toggler-container {
      display: block !important;
    }
  }
  
@media (min-width: 768px) {
  .navbar-toggler-container {
    display: none !important;
  }
}